<ul class="menu">
{% for r in rows %}
    <li itemscope itemtype="http://schema.org/WebPage">

        <!-- If active is GSATF or MIDI Unbound, but the for loop is on "programming", then make it active -->
        {% if (active_page == 'GSA Table Formatter' and id == 'Programming') or (active_page == 'MIDI Unbound' and id == "Programming") %}
            <a href="javascript:;" class="sitelink subNav active" itemprop="name">{{ caption }}</a>
        
        <!-- If its Music or Programming, make them expandable -->
        {% elif id == 'Music' or id == 'Programming' %}
            <a href="javascript:;" class="sitelink subNav" itemprop="name">{{ caption }}</a>
            
        <!-- if the ID is the "active_page" (i.e. the site.title() ) then make it active -->
        {% elif id == active_page %}
            <a href="javascript:;" class="sitelink active" itemprop="name">{{ caption }}</a>
            
        <!-- if its the contact link, do its special thing -->
        {% elif id == "Contact" %}
            <a href="javascript:;" class="sitelink contactlink" itemprop="name">{{ caption }}</a>
            <span class="contacteric">eric@ericyd.com</span>
            
        <!-- for all the other links, just write them normally -->
        {% else %}
            <a href="{{ path_mod }}{{ href|e }}" class="sitelink" itemprop="name">{{ caption }}</a>
        {% endif%}
    </li>
    
    
    <!-- Add subNavs -->
    {% if id == 'Music' %}
        <ul class="subMenu">
        {% for href, id, caption in music %}
            <li itemscope itemtype="http://schema.org/WebPage">
                <a href="{{ href|e }}" class="sitelink" itemprop="name">{{ caption }}</a>
            </li>
        {% endfor %}
        </ul>
        
    {% elif id == 'Programming' %}
        <ul class="subMenu">
        
        {% for href, id, caption in programming %}
            <li itemscope itemtype="http://schema.org/WebPage">
                {% if id == active_page %}
                    <a href="javascript:;" class="sitelink active" itemprop="name">{{ caption }}</a>
                {% elif id == 'Github' or id == 'MathWorks' %}
                    <a href="{{ href|e }}" class="sitelink" itemprop="name">{{ caption }}</a>
                {% else %}
                    <a href="{{ path_mod }}{{ href|e }}" class="sitelink" itemprop="name">{{ caption }}</a>
                {% endif%}
            </li>
        
        
        {% endfor %}
        </ul>
    {% endif %}
    
{% endfor %}
</ul>
